html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  font-family: "Avenir",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  color: $black;
  margin-top: 124px;
}

@mixin serif {
  font-family: "GT Walsheim",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;;
}

.full-height-section {
  min-height: 500px;
  height: 100vh;
}


.serif {
  @include serif;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: $black;
  @include serif;
}

.section-heading, .section-title {
  font-size: 3rem;
  font-weight: 600;
  @include serif;

  @media (max-width: 991px) { font-size: 2.5rem; }
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  @media (max-width: 991px) { font-size: 2.5rem; }
}

h2 {
  font-size: 2.25rem;
  @media (max-width: 991px) { font-size: 1.85rem; }
}

h3 {
  font-size: 1.5rem;
}

a {
  color: $primary;
  font-weight: 500;
  transition: 200ms all;

  &:hover {
    color: darken($secondary, 10%);
  }
}

.uppercase {
  text-transform: uppercase;
}

.hide, .hidden {
  display: none;
}

.center, .centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold, strong {
  font-weight: bold;
}

.lead {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 300;

  &.lead-sm {
    font-size: 1.3rem;
    line-height: 1.1;
    @media (max-width: 991px) { font-size: 1.1rem; }
  }

  @media (max-width: 991px) {
    font-size: 1.5rem;
  }
}

.light {
  font-weight: 300;
}

.no-effects {
  &:hover, &:focus, &:active { outline: none; }
}

.white-letters {
  color: white;
  h1, h2, h3, h4, h5, h6, p, a, ul, li {
    color: white;
  }

  .styled-number-list li:before {
    color: white;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.bring-to-front {
  z-index: 10;
}

.hidden-mobile {
  @media(max-width: 991px) {
    display: none;
  }
}

.centered-mobile {
  @media(max-width: 991px) {
    text-align: center;
  }
}

.nowrap {
  white-space: nowrap;
}

.link-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.separator-bottom { margin-bottom: 3rem; }
.separator-top { margin-top: 3rem; }

.visible-sm {
  @media(min-width: 992px) {
    display: none;
  }
}

.img-size-std {
  max-height: 500px;
}

.underline {
  text-decoration: underline;
}

.absolute-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 5;
}

.dot-divider {
  padding-right: .3em;
  padding-left: .3em;

  &::after {
    content: '\00B7';
  }
}

.pb-lead {
  font-size: 1.25rem;
}

.pb-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #8b8b8b;
  font-size: 64px;
  width: 1em;
  height: 1em;
  color: #8b8b8b;

  svg {
    height: 0.5em;
    width: 0.5em;
  }
}

.border-red {
  border-color: #F53636 !important;
}

.visually-hidden {
  text-indent: -1000em;
  margin: 0 !important;
  height: 1px;
}


.hidden {
  display: none !important;
}

.pb-title-prefix {
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.pb-mt-0 {
  margin-top: 0rem;
}

.pb-mb-0 {
  margin-bottom: 0rem;
}

.pb-mt-2 {
  margin-top: 0.5rem;
}

.pb-mb-2 {
  margin-bottom: 0.5rem;
}

.pb-mt-3 {
  margin-top: 1rem;
}

.pb-mb-3 {
  margin-bottom: 1rem;
}

.pb-mt-4 {
  margin-top: 2rem;
}

.pb-mb-4 {
  margin-bottom: 2rem;
}

.pb-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.pb-width-50 {
  width: 50% !important;
}
